# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_LUNA_LEFT
	def_bool $(shields_list_contains,luna_left)

config SHIELD_LUNA_RIGHT
	def_bool $(shields_list_contains,luna_right)
