/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define luna 0
#define navi 1

/ {
    combos {
        #include "combos.dtsi"
    };
    
    behaviors {
        skq: sticky_key_quick_release {
            compatible = "zmk,behavior-sticky-key";
            label = "STICKY_KEY_QUICK_RELEASE";
            #binding-cells = <1>;
            bindings = <&kp>;
            quick-release;
            release-after-ms = <1000>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
                
        luna_layer {
            label = "luna";
            bindings = <
                &kp W &kp C &kp Y &kp M &kp X        &kp K &kp P &kp O     &kp U    &kp SQT 
                &kp R &kp S &kp T &kp N &kp V        &kp B &kp H &kp A     &kp I    &kp E
                      &kp G &kp F &kp L                    &kp D &kp COMMA &kp DOT
                        &sl navi &skq LSHFT                 &kp SPACE &kp SQT  
            >;
        };       
                 
        navi_layer {
            label = "navi";
            bindings = <
                &none &none &none &none &none	    &none &none &none &none &none
                &none &none &none &none &none	    &none &none &none &none &none
                      &none &none &none 	    	  &none &none &none
                        &trans &trans                    &trans &trans  
            >;
        };
    };
};
